<section class="jumbotron">
    <h1>Shrink</h1>
    <p>A very simple Url Shortener to host on your internal network.</p>
    <p><a href="https://en.wikipedia.org/wiki/URL_shortening" target="_blank" class="btn btn-primary btn-lg">Learn more about Url Shortening</a></p>
  </section>
