<nav class="navbar navbar-default" style="border-radius:0px">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <i class="fa fa-link"></i>&nbsp&nbsp
        Shrink</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/stats/view" title="View stats">Stats</a></li>
    </ul>
  </div>
</nav>
