<form class="form-horizontal" method="POST" action="/stats/view">
  <fieldset>
    <legend>Enter the reference for the short url you wish to query, ie 'befgchcidcjje'</legend>
    <div class="form-group {{#if message}}has-error{{/if}}">
      <label for="reference" class="col-sm-2 col-xs-12 control-label">Reference</label>
      <div class="col-sm-10 col-xs-12">
        <input type="text" class="form-control" id="reference" name="reference" value="{{#if providedUrl}}{{providedReference}}{{/if}}" placeholder="befgchcidcjje">
        {{#if message}}<p class="text-danger">{{message}}</p>{{/if}}
      </div>
    </div>
    {{#if posted}}
    <div class="form-group">
      <label for="short" class="col-sm-2 col-xs-12 control-label">Total hits</label>
      <div class="col-sm-10 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            {{hits}}
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
